:root {
	--button-hoverBackground: var(--vscode-toolbar-hoverBackground, rgba(90, 93, 94, 0.31));
}

.mentor-panel vscode-tab-panel vscode-scrollable {
	position: absolute;
	top: 40px;
	right: 0;
	bottom: 0;
	left: 0;
}

.sparql-welcome-view-container {
	display: flex;
	flex-direction: row;
	gap: 50px;
	padding: 15px;
}

.sparql-welcome-view-container .muted {
	color: var(--vscode-descriptionForeground);
}

.sparql-welcome-view-container .muted a {
	color: var(--vscode-descriptionForeground);
	text-decoration: underline;
}

.sparql-welcome-view-container .column .header {
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
	gap: 10px;
}

.sparql-welcome-view-container .column .header h3 {
	margin: 0;
	font-weight: 400;
}

.sparql-welcome-view-container .column .body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2px;
}

.sparql-welcome-view-container .column .body.button-list vscode-toolbar-button {
	justify-content: center;
	min-width: 8em;
}

.sparql-welcome-view-container .column .body.button-list vscode-toolbar-button .mentor-icon,
.sparql-welcome-view-container .column .body.button-list vscode-toolbar-button .codicon,
.sparql-welcome-view-container .column .body.button-list vscode-toolbar-button .label {
	color: var(--vscode-textLink-foreground);
}

.sparql-welcome-view-container .column .body.button-list vscode-toolbar-button .mentor-icon,
.sparql-welcome-view-container .column .body.button-list vscode-toolbar-button .codicon {
	padding: 2em .5em;
	font-size: large;
}

.sparql-welcome-view-container .column .body.button-list-xl vscode-toolbar-button {
	min-height: 2.2em;
}

.sparql-welcome-view-container .history-item {
    display: flex;
    align-items: center;
	gap: 4px;
    padding: 2px;
	border-radius: 3px;
	width: 100%;
    margin-bottom: 2px;
}

.sparql-welcome-view-container .history-item:hover,
.sparql-welcome-view-container .history-item:focus-within,
.sparql-welcome-view-container .history-item [role="button"]:hover {
    background-color: var(--button-hoverBackground);
}

.sparql-welcome-view-container .history-item [role="button"] {
	color: var(--vscode-inactive);
    visibility: hidden;
	background-color: transparent;
	border-radius: 2px;
	padding: 2px;
	cursor: pointer;
}

.sparql-welcome-view-container .history-item:hover [role="button"] {
    visibility: visible;
}

.sparql-welcome-view-container .folder {
	margin-left: 7px;
}

.sparql-welcome-view-container .file-link {
	color: var(--vscode-textLink-foreground) !important;
    text-decoration: none;
    cursor: pointer;
}

.sparql-welcome-view-container .execute-button {
	color: var(--vscode-debugIcon-restartForeground) !important;
}

.sparql-welcome-view-container .remove-button {
	margin-left: auto;
}