body {
	padding: 0;
}

pre {
	margin: 0;
}

a {
	text-decoration: none;
}

.label {
  	color: var(--vscode-semanticToken-class-foreground, var(--vscode-editor-foreground));
}

.codicon-debug-stop {
	color: var(--vscode-debugIcon-stopForeground);
}

.codicon-debug-restart {
	color: var(--vscode-debugIcon-restartForeground);
}

.sparql-results-toolbar {
	/* Make the toolbar appear slim and unobtrusive */
	padding: 2px 8px;
	border-bottom: 1px solid var(--vscode-editorGroup-border);
}

.sparql-results-toolbar .divider-vertical {
	display: inline-block;
    width: 1px;
    height: 22px;
    border-left: 1px solid var(--vscode-editorGroup-border);
    margin: 0 8px;
}

.sparql-results-toolbar .spacer {
	margin-left: auto;
	margin-right: auto;
}

.sparql-results-toolbar .status-icon {
	/* Align the icon vertically with the text */
	display: inline-flex;
}

.sparql-results-content-container {
	text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    align-content: center;
    align-items: center;
    justify-content: center;
	font-weight: 500;
}

.sparql-results-content-container .status-icon .codicon {
	font-size: 2em;
	color: var(--vscode-progressBar-background);
}

vscode-table-header-cell {
	line-height: auto;
	padding-top: 2px;
	padding-bottom: 2px;
}
vscode-table-cell {
	border-bottom: none;
}