.container {
	display: grid;
	grid-template-columns: 0.6fr 1fr;
	gap: 50px;
	padding: 10px;
}

.align-top {
	gap: 10px;
    align-items: flex-start;
}

.column h3 {
	margin-top: 0;
	font-weight: 400;
}

.muted {
	color: var(--vscode-descriptionForeground);
}

.muted a {
	color: var(--vscode-descriptionForeground);
	text-decoration: underline;
}

vscode-toolbar-container.vertical {
	flex-direction: column;
	align-items: flex-start;
}

vscode-toolbar-container.link-buttons-xl vscode-toolbar-button {
	min-height: 2.5em;
}

vscode-toolbar-container.link-buttons vscode-toolbar-button .codicon {
	padding: 2em .5em;
	font-size: large;
}

vscode-toolbar-container.link-buttons vscode-toolbar-button .codicon,
vscode-toolbar-container.link-buttons vscode-toolbar-button .label {
	color: var(--vscode-textLink-foreground);
}

vscode-toolbar-container.link-buttons vscode-toolbar-button:hover {
	background: transparent;
}