.mentor-row {
	display: flex;
	align-items: center;
}

.mentor-row-gap-2 {
	display: flex;
	align-items: center;
	gap: var(--mentor-space-2);
}

.mentor-row-gap-3 {
	display: flex;
	align-items: center;
	gap: var(--mentor-space-3);
}

.mentor-row-gap-4 {
	display: flex;
	align-items: center;
	gap: var(--mentor-space-4);
}

.mentor-border-bottom {
	border-bottom: var(--mentor-border-panel);
}

.mentor-border-top {
	border-top: var(--mentor-border-panel);
}

vscode-badge [variant="tab-header-counter"] .root,
vscode-badge [variant="counter"] .root {
	/* Fix for the counter badge style not being desaturated. */
	background-color: var(--vscode-profileBadge-background);
	color: var(--vscode-profileBadge-foreground);
}

vscode-textfield vscode-icon[slot="content-before"] {
	display: flex;
    min-width: 24px;
    justify-content: center;
}

vscode-toolbar-button {
	justify-content: center;
	display: flex;
	flex-direction: row;
	gap: 0.5em;
}

vscode-toolbar-button .label {
	margin-left: 0.5em;
}

vscode-toolbar-button.primary .mentor-icon,
vscode-toolbar-button.primary .codicon,
vscode-toolbar-button.primary .label {
	color: var(--vscode-textLink-foreground);
}
